trunk/TerminalZero/Web/TerminalZeroWebClient/Service References/FileTranferReference/FileTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransfer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IFileTransfer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/FileTransfer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/FileTransfer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/FileTransfer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServerFileInfo">
    <wsdl:part name="parameters" element="tns:ServerFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="ConnectionID" element="tns:ConnectionID" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="IFileTransfer_UploadFileSilverlight_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileSilverlight" />
  </wsdl:message>
  <wsdl:message name="IFileTransfer_UploadFileSilverlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileSilverlightResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileTransfer">
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/DownloadFile" name="ServerFileInfo" message="tns:ServerFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/DownloadFileResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/UploadFile" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/UploadFileResponse" name="ServerFileInfo" message="tns:ServerFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileSilverlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/UploadFileSilverlight" message="tns:IFileTransfer_UploadFileSilverlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/UploadFileSilverlightResponse" message="tns:IFileTransfer_UploadFileSilverlight_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IFileTransfer" type="tns:IFileTransfer">
    <wsp:PolicyReference URI="#WSHttpBinding_IFileTransfer_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransfer/DownloadFile" style="document" />
      <wsdl:input name="ServerFileInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap12:header message="tns:RemoteFileInfo_Headers" part="ConnectionID" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransfer/UploadFile" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap12:header message="tns:RemoteFileInfo_Headers" part="ConnectionID" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ServerFileInfo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileSilverlight">
      <soap12:operation soapAction="http://tempuri.org/IFileTransfer/UploadFileSilverlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransfer">
    <wsdl:port name="WSHttpBinding_IFileTransfer" binding="tns:WSHttpBinding_IFileTransfer">
      <soap12:address location="http://sebas-note/TZeroHost/Services/FileTransfer.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://sebas-note/TZeroHost/Services/FileTransfer.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>