TerminalZero/Web/TerminalZeroWebClient/Service References/ServiceHelperReference/ServiceHelper8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TZeroHost.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TZeroHost.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/ZeroBusiness.Entities.Configuration" />
  <xs:complexType name="ArrayOfTerminalStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminalStatus" nillable="true" type="tns:TerminalStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminalStatus" nillable="true" type="tns:ArrayOfTerminalStatus" />
  <xs:complexType name="TerminalStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZeroBusiness.Entities.Configuration" minOccurs="0" name="Terminal" nillable="true" type="q1:Terminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalStatus" nillable="true" type="tns:TerminalStatus" />
</xs:schema>