TerminalZero/Web/TerminalZeroWebClient/Service References/ServiceHelperReference/ServiceHelper7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ZeroLogHandle.Classes" />
  <xs:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ZeroCommonClasses.Entities" />
  <xs:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ZeroCommonClasses.GlobalObjects" />
  <xs:element name="GetLogsStr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsStrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLogsStrResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZeroLogHandle.Classes" minOccurs="0" name="GetLogsResult" nillable="true" type="q2:ArrayOfVirtualLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ZeroCommonClasses.Entities" minOccurs="0" name="GetPackResult" nillable="true" type="q3:ArrayOfPack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ZeroCommonClasses.Entities" minOccurs="0" name="pack" nillable="true" type="q4:Pack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ZeroCommonClasses.Entities" minOccurs="0" name="GetPackDataResult" nillable="true" type="q5:Pack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalsStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalsStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ZeroCommonClasses.GlobalObjects" minOccurs="0" name="GetTerminalsStatusResult" nillable="true" type="q6:ZeroResponseOfArrayOfTerminalStatusCdnY_SwiG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>