TerminalZero/Web/TerminalZeroWebClient/Service References/ServiceHelperReference/ServiceHelper2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TZeroHost/Services/ServiceHelper.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/TZeroHost/Services/ServiceHelper.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ZeroLogHandle.Classes" />
  <xs:element name="GetLogsStr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsStrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLogsStrResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZeroLogHandle.Classes" minOccurs="0" name="GetLogsResult" nillable="true" type="q2:ArrayOfVirtualLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>