TerminalZero/Web/TerminalZeroWebClient/Service References/ServiceHelperReference/ServiceHelper4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZeroLogHandle.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZeroLogHandle.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVirtualLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VirtualLogEntry" nillable="true" type="tns:VirtualLogEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVirtualLogEntry" nillable="true" type="tns:ArrayOfVirtualLogEntry" />
  <xs:complexType name="VirtualLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="IndentLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VirtualLogEntry" nillable="true" type="tns:VirtualLogEntry" />
</xs:schema>