trunk/TerminalZero/Web/TerminalZeroWebClient/Service References/ServiceHelperReference/ServiceHelper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceHelper" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ServiceHelper_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ZeroLogHandle.Classes" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ZeroCommonClasses.Entities" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ZeroCommonClasses.GlobalObjects" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/TZeroHost.Classes" />
      <xsd:import schemaLocation="http://sebas-note/TZeroHost/Services/ServiceHelper.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/ZeroConfiguration.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceHelper_GetLogsStr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsStr" />
  </wsdl:message>
  <wsdl:message name="ServiceHelper_GetLogsStr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsStrResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceHelper_GetLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogs" />
  </wsdl:message>
  <wsdl:message name="ServiceHelper_GetLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceHelper_GetPack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPack" />
  </wsdl:message>
  <wsdl:message name="ServiceHelper_GetPack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPackResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceHelper_GetTerminalsStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalsStatus" />
  </wsdl:message>
  <wsdl:message name="ServiceHelper_GetTerminalsStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalsStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceHelper">
    <wsdl:operation name="GetLogsStr">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceHelper/GetLogsStr" message="tns:ServiceHelper_GetLogsStr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceHelper/GetLogsStrResponse" message="tns:ServiceHelper_GetLogsStr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceHelper/GetLogs" message="tns:ServiceHelper_GetLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceHelper/GetLogsResponse" message="tns:ServiceHelper_GetLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPack">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceHelper/GetPack" message="tns:ServiceHelper_GetPack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceHelper/GetPackResponse" message="tns:ServiceHelper_GetPack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminalsStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceHelper/GetTerminalsStatus" message="tns:ServiceHelper_GetTerminalsStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceHelper/GetTerminalsStatusResponse" message="tns:ServiceHelper_GetTerminalsStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ServiceHelper" type="tns:ServiceHelper">
    <wsp:PolicyReference URI="#WSHttpBinding_ServiceHelper_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLogsStr">
      <soap12:operation soapAction="http://tempuri.org/ServiceHelper/GetLogsStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <soap12:operation soapAction="http://tempuri.org/ServiceHelper/GetLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPack">
      <soap12:operation soapAction="http://tempuri.org/ServiceHelper/GetPack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerminalsStatus">
      <soap12:operation soapAction="http://tempuri.org/ServiceHelper/GetTerminalsStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHelper">
    <wsdl:port name="WSHttpBinding_ServiceHelper" binding="tns:WSHttpBinding_ServiceHelper">
      <soap12:address location="http://sebas-note/TZeroHost/Services/ServiceHelper.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://sebas-note/TZeroHost/Services/ServiceHelper.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>